<h2 id="code" style="margin-top: 2.5rem;">Code</h2>

<p>We are strong advocates for reproducible science and open-source software. We believe that they have been key drivers of the recent advances in AI research, and we make all our code publicly available to continue this tradition.</p>

<ol>
  <li>
    <a href="https://github.com/nmboffi/jax-interpolants">jax-interpolants</a><br>
    <em style="font-size: 0.9em;">A JAX implementation of the stochastic interpolant framework for generative modeling</em>
  </li>
  <li>
    <a href="https://github.com/nmboffi/jax-edm2">jax-edm2</a><br>
    <em style="font-size: 0.9em;">A JAX implementation of NVIDIA's EDM2 U-Net architecture</em>
  </li>
  <li>
    <a href="https://github.com/nmboffi/flow-maps">flow-maps</a> (with <a href="http://malbergo.me">Michael Albergo</a> and <a href="https://wp.nyu.edu/courantinstituteofmathematicalsciences-eve2/">Eric Vanden Eijnden</a>)<br>
    <em style="font-size: 0.9em;">A JAX implementation of the self-distillation framework for learning flow maps and consistency models</em>
  </li>
  <li>
    <a href="https://github.com/nmboffi/vicsek_public">model-free probability flows</a> (with <a href="https://wp.nyu.edu/courantinstituteofmathematicalsciences-eve2/">Eric Vanden Eijnden</a>)<br>
    <em style="font-size: 0.9em;">Code for model-free learning of probability flows in nonequilibrium dynamics</em>
  </li>
  <li>
    <a href="https://github.com/nmboffi/structured_diffusion_public">structured diffusion</a> (with <a href="https://sites.google.com/view/arthurjacot">Arthur Jacot</a> and <a href="https://stephentu.github.io">Stephen Tu</a>)<br>
    <em style="font-size: 0.9em;">Experiments verifying provable guarantees for when shallow diffusion networks can learn hidden structure</em>
  </li>
  <li>
    <a href="https://github.com/nmboffi/flow_map_matching_public/tree/main">flow map matching</a> (with <a href="http://malbergo.me">Michael Albergo</a> and <a href="https://wp.nyu.edu/courantinstituteofmathematicalsciences-eve2/">Eric Vanden Eijnden</a>)<br>
    <em style="font-size: 0.9em;">A JAX implementation of the flow map matching framework for learning flow maps and consistency models</em>
  </li>
  <li>
    <a href="https://github.com/interpolants/forecasting">forecasting with interpolants</a> (with Mengjian Hua, <a href="https://yifanc96.github.io">Yifan Chen</a>, <a href="https://marikgoldstein.github.io">Mark Goldstein</a>, <a href="https://wp.nyu.edu/courantinstituteofmathematicalsciences-eve2/">Eric Vanden Eijnden</a>, and <a href="http://malbergo.me">Michael Albergo</a> -- mostly written by the first three authors!)<br>
    <em style="font-size: 0.9em;">An implementation of probabilistic forecasting with stochastic interpolants</em>
  </li>
  <li>
    <a href="https://github.com/nmboffi/active_pflows">active probability flows</a> (with <a href="https://wp.nyu.edu/courantinstituteofmathematicalsciences-eve2/">Eric Vanden Eijnden</a>)<br>
    <em style="font-size: 0.9em;">Code for learning probability flows and entropy production rates in active matter</em>
  </li>
  <li>
    <a href="https://github.com/malbergo/stochastic-interpolants">stochastic interpolants</a> (with <a href="http://malbergo.me">Michael Albergo</a> and <a href="https://wp.nyu.edu/courantinstituteofmathematicalsciences-eve2/">Eric Vanden Eijnden</a>)<br>
    <em style="font-size: 0.9em;">An implementation of the unifying stochastic interpolant framework for flows and diffusions in generative modeling</em>
  </li>
  <li>
    <a href="https://github.com/nmboffi/sbtm">score-based transport modeling</a> (with <a href="https://wp.nyu.edu/courantinstituteofmathematicalsciences-eve2/">Eric Vanden Eijnden</a>)<br>
    <em style="font-size: 0.9em;">Code for constructing a probability flow solution of the Fokker-Planck equation</em>
  </li>
  <li>
    <a href="https://github.com/nmboffi/spin_glass_evodyn/tree/main">spin glass evolutionary dynamics</a> (with Yipei Guo, <a href="https://people.math.wisc.edu/~chr/">Chris Rycroft</a>, and <a href="https://www.weizmann.ac.il/complex/amir/">Ariel Amir</a>)<br>
    <em style="font-size: 0.9em;">High-resolution C++ simulation code to model Lenski's Long-Term Evolution Experiment, taking into account microscopic epistasis and clonal interference in microbial evolution</em>
  </li>
  <li>
    <a href="https://github.com/nmboffi/stzpp">shear transformation zone++</a> (with <a href="https://people.math.wisc.edu/~chr/">Chris Rycroft</a>)<br>
    <em style="font-size: 0.9em;">Three-dimensional MPI-based C++ code for parallel simulation of quasi-static deformation in elastoplastic solids</em>
  </li>
  <li>
    <a href="https://real-space.org">real-space Hartree-Fock</a> (with <a href="http://www.eng.tau.ac.il/~amirn/">Amir Natan</a>, note: only the Hartree-Fock implementation)<br>
    <em style="font-size: 0.9em;">Parallelized Fortran code to efficiently compute the Hartree-Fock exchange via the use of projection operators onto occupied and virtual states</em>
  </li>
</ol>
