<h2 id="code" style="margin-top: 2.5rem;">Code</h2>

<p>We are strong advocates for reproducible science and open-source software. We believe that they have been key drivers of the recent advances in AI research, and we make all our code publicly available to continue this tradition.</p>

<ol>
  <li><a href="https://github.com/nmboffi/vicsek_public">model-free probability flows</a> (with <a href="https://wp.nyu.edu/courantinstituteofmathematicalsciences-eve2/">Eric Vanden Eijnden</a>)</li>
  <li><a href="https://github.com/nmboffi/structured_diffusion_public">structured diffusion</a> (with <a href="https://sites.google.com/view/arthurjacot">Arthur Jacot</a> and <a href="https://stephentu.github.io">Stephen Tu</a>)</li>
  <li><a href="https://github.com/nmboffi/flow_map_matching_public/tree/main">flow map matching</a> (with <a href="http://malbergo.me">Michael Albergo</a> and <a href="https://wp.nyu.edu/courantinstituteofmathematicalsciences-eve2/">Eric Vanden Eijnden</a>)</li>
  <li><a href="https://github.com/interpolants/forecasting">forecasting with interpolants</a> (with Mengjian Hua, <a href="https://yifanc96.github.io">Yifan Chen</a>, <a href="https://marikgoldstein.github.io">Mark Goldstein</a>, <a href="https://wp.nyu.edu/courantinstituteofmathematicalsciences-eve2/">Eric Vanden Eijnden</a>, and <a href="http://malbergo.me">Michael Albergo</a> -- mostly written by the first three authors!)</li>
  <li><a href="https://github.com/nmboffi/active_pflows">active probability flows</a> (with <a href="https://wp.nyu.edu/courantinstituteofmathematicalsciences-eve2/">Eric Vanden Eijnden</a>)</li>
  <li><a href="https://github.com/malbergo/stochastic-interpolants">stochastic interpolants</a> (with <a href="http://malbergo.me">Michael Albergo</a> and <a href="https://wp.nyu.edu/courantinstituteofmathematicalsciences-eve2/">Eric Vanden Eijnden</a>)</li>
  <li><a href="https://github.com/nmboffi/sbtm">score-based transport modeling</a> (with <a href="https://wp.nyu.edu/courantinstituteofmathematicalsciences-eve2/">Eric Vanden Eijnden</a>)</li>
  <li><a href="https://github.com/nmboffi/spin_glass_evodyn/tree/main">spin glass evolutionary dynamics</a> (with Yipei Guo, <a href="https://people.math.wisc.edu/~chr/">Chris Rycroft</a>, and <a href="https://www.weizmann.ac.il/complex/amir/">Ariel Amir</a>)</li>
  <li><a href="https://github.com/nmboffi/stzpp">shear transformation zone++</a> (with <a href="https://people.math.wisc.edu/~chr/">Chris Rycroft</a>)</li>
  <li><a href="https://real-space.org">real-space Hartree-Fock</a> (with <a href="http://www.eng.tau.ac.il/~amirn/">Amir Natan</a>, note: only the Hartree-Fock implementation)</li>
</ol>
